<div class="sidebar">
    <div class="sidebar-header">
      <h3>{{ storeName }}</h3>
    </div>
    <div class="sidebar-menu">
      <ul>
        <li *ngFor="let item of menuItems" [class.active]="router.url === item.route">
          <a 
            *ngIf="!item.children" 
            [routerLink]="item.route" 
            class="menu-item"
          >
            <i class="icon" [ngClass]="'icon-' + item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
          
          <div *ngIf="item.children" class="submenu-container">
            <a 
              class="menu-item" 
              (click)="toggleSubmenu(item)"
            >
              <i class="icon" [ngClass]="'icon-' + item.icon"></i>
              <span>{{ item.label }}</span>
              <i class="icon-chevron-down submenu-icon" [class.rotated]="item.expanded"></i>
            </a>
            
            <ul class="submenu" [class.expanded]="item.expanded">
              <li *ngFor="let child of item.children">
                <a [routerLink]="child.route" class="submenu-item">
                  <span>{{ child.label }}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>