<div class="dashboard-container">
    <h1 class="dashboard-title">{{ welcomeMessage }}</h1>
    <p class="dashboard-tip">{{ navigationTip }}</p>
  
    <app-notification-banner></app-notification-banner>
  
    <div class="dashboard-grid">
      <div 
        *ngFor="let tile of dashboardTiles" 
        class="dashboard-tile"
        (click)="navigateTo(tile.route)"
      >
        <div class="tile-icon" [ngClass]="'icon-' + tile.icon"></div>
        <div class="tile-content">
          <h3 class="tile-title">{{ tile.title }}</h3>
          <p class="tile-description">{{ tile.description }}</p>
        </div>
      </div>
    </div>
  </div>